[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	label-Verified = -1..+1 group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	push = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	read = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	rebase = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	removeReviewer = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	submit = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
[access "refs/heads/*"]
	create = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	push = +force group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	pushMerge = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	read = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
[access "refs/tags/*"]
	push = group user/Andrés Enrique Calderón Fern´nadez (anenca2)
	push = +force group user/Andrés Enrique Calderón Fern´nadez (anenca2)
